{% load static i18n %}

<ul id="slide-out" class="sidenav">
    <li><div class="user-view">
        <div class="background">
            <img id="sidebar-background-img" src="{% static 'django_admin_material/img/sidebar-background.svg' %}">
        </div>
        <a href="#user"><img class="circle" src="{% static 'django_admin_material/img/sidebar-profile.svg' %}"></a>
        <a href="#name"><span class="white-text name">{{ user|title }}</span></a>
    </div></li>
    <li><a href="{% url 'admin:index' %}"><i class="material-icons">home</i>{% trans 'Home' %}</a></li>
    <li><a class="subheader">{% trans 'Apps' %}</a></li>
    <li><div class="divider"></div></li>
    {% for app in available_apps %}
        <li><a class="dropdown-trigger" id="{{ app.name|lower|cut:' ' }}-trigger" href="#!" data-target="{{ app.name|lower|cut:' ' }}">{{ app.name }}</a></li>
        <ul id='{{ app.name|lower|cut:" " }}' class='dropdown-content'>
            {% for model in app.models %}
                {% if model.admin_url %}
                    <li><a href="{{ model.admin_url }}">{{ model.name }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endfor %}
</ul>

<script>
    $(document).ready(function(){
        $('.sidenav').sidenav();
        $('.dropdown-trigger').dropdown();      
    });
</script>