/* base */

h1 {
    margin-top: 0px;
    font-size: 30px;
}

#header {
    background-color: #37474f;
    color: white;
}

#header a {
    color: white;
}

#sidebar-background-img {
    max-width: 100%;
}

.breadcrumbs {
    background: #48545a;
    color: rgb(201, 201, 201);
    padding: 10px;
}

.breadcrumbs a {
    color: white;
    opacity: 10;
}

.sidenav-trigger i {
    margin: 10px;
}

#site-name {
    font-weight: 100;
}

#content-title {
    font-size: 15px;
    margin-left: 45px;
    margin-bottom: 0px;
    /* float: left; */
}

.card.small {
    height: 200px;
}

#user-tools {
    padding-bottom: 10px;
    margin-right: 10px;
}

/* change list */

.change-list .filtered .results {
    margin-right: 0!important;
}

.results thead a {
    font-weight: 10;
    color: black;
    /* font-weight: bold; */
}

.results thead tr {
    height: 60px;
}

.results tbody a {
    font-weight: 10;
}

.results th {
    padding-left: 10px!important;
}

.results td {
    padding-left: 10px!important;
}

#changelist #toolbar {
    background: white!important;
    border: unset!important;
    margin-right: unset!important;
    padding: unset!important;
    padding-left: 10px!important;
}
  
.material-icons.active {
    color: unset!important;
}

 /* label focus color */
input:focus + label {
    color: #1565c0!important;
}
/* label underline focus color */
input:focus{
    border-bottom: 1px solid #1565c0!important;
    box-shadow: 0 1px 0 0 #1565c0!important;
}

ul.dropdown-content.select-dropdown li span {
    color: #1565c0; /* no need for !important :) */
}

.dropdown-content li>a {
    color: #1565c0;
}

[type="checkbox"].filled-in:checked+span:not(.lever):after {
    border: 2px solid #1565c0;
    background-color: #1565c0;
}

#actions-card {
    padding: 5px;
    padding-bottom: 0px;
}

#filter-card {
    padding: 10px;
}

.checkbox-span {
    margin-left: 15px;
    margin-right: 15px;
}

.right-col-row {
    margin-bottom: 0px;
}

#search-button {
    width: 100%;
}

.filter-row {
    margin-top: 30px;
    margin-bottom: 20px;
}

.actions {
    padding-top: unset!important;
}

.filtered .actions {
    margin-right: unset!important;
}

.object-tools-dropdown {
    margin-right: 20px;
}

/* change form */

#change-form-card {
    overflow: visible!important;
}

.form-row {
    overflow: visible!important;
}

/* Messages */

.messagelist {
    margin: 0px;
}

.messagelist li {
    padding: 10px;
}

.success {
    background-color: #a5d6a7;
}

.error {
    background-color: #ef9a9a;
}

.alert {
    background-color: #fff59d;
}

.info {
    background-color: #90caf9;
}

/* select2 */

.select2-results__options {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.select2-dropdown {
    border: 0!important;
}

.select2-dropdown .select2-search__field {
    min-height: 2.1rem!important;
    margin-bottom: 16px!important;
    border: 0!important;
    border-bottom: 1px solid #ccc!important;
    transition: all .3s!important;
}

.select2-results__options {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.50), 0 2px 10px 0 rgba(0, 0, 0, 0.12)!important;
    margin: 0!important;
    min-width: 100px!important;
    max-height: 650px!important;
    overflow-y: auto!important;
    z-index: 999!important;
    will-change: width,height!important;
}

.select2-container--admin-autocomplete {
    color: #1565c0!important;
}

.select2-container--admin-autocomplete .select2-results__option--highlighted[aria-selected] {
    background-color: rgba(0,0,0,0.03)!important;
    color: #1565c0!important;
}

#inlines-card .inline-deletelink {
    background: url(../../admin/img/icon-no.svg);
    width: 25px;
    height: 25px;
}

.inline-group .tabular tr.add-row td a {
    background: none!important;
}

.inline-group div.add-row a {
    background: none!important;
}

.inline-group .tabular td.original p {
    overflow: visible!important;
    /* top: 120px!important; */
}

h2 {
    font-size: 2rem;
    font-weight: 200;
}

.selector .selector-available h2 {
    background: unset!important;
    border: unset;
    border-radius: unset;
}

.selector .selector-chosen h2 {
    background: #1565c0;
    border: unset;
    border-radius: unset;
}

.errornote {
    margin: 0px;
    padding: 10px;
    background: #ef9a9a;
}

.invalid input {
    border-bottom: 1px solid #F44336!important;
    box-shadow: 0 1px 0 0 #F44336!important;
}

.errorlist li {
    color: #F44336;
}
