{% extends 'admin/base.html' %}

{% load static i18n %}
{% block stylesheet %}{% endblock %}
{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static "django_admin_material/css/materialize.min.css" %}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script type="text/javascript" src="{% static "django_admin_material/js/jquery-3.3.1.min.js" %}"></script>
<script type="text/javascript" src="{% static "django_admin_material/js/materialize.min.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% static "django_admin_material/css/base.css" %}">
{% endblock %}

{% block usertools %}
    {% if title %}<h1 id="content-title" {% if has_permission %}style="float: left;"{% endif %}>{{ title }}</h1>{% endif %}
    {% if has_permission %}
        <div id="user-tools" class="right-align">
            {% block welcome-msg %}
                {% trans 'Welcome,' %}
                <strong>{% firstof user.get_short_name user.get_username %}</strong>.
            {% endblock %}
            {% block userlinks %}
                {% if site_url %}
                    <a href="{{ site_url }}">{% trans 'View site' %}</a> /
                {% endif %}
                {% if user.is_active and user.is_staff %}
                    {% url 'django-admindocs-docroot' as docsroot %}
                    {% if docsroot %}
                        <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
                    {% endif %}
                {% endif %}
                {% if user.has_usable_password %}
                <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
                {% endif %}
                <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
            {% endblock %}
        </div>
    {% endif %}
{% endblock %}

{% block content_title %}{% endblock %}

{% block sidebar %}{% include 'django_admin_material/sidebar.html' with available_apps=available_apps %}{% endblock %}