{% extends 'admin/change_form.html' %}
{% load static %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "django_admin_material/css/forms.css" %}">
{% endblock %}

{% block field_sets %}
<div class="container">
    <div class="row">
        <div class="col s12 card" id="change-form-card">
            {{ block.super }}
        </div>
    </div>
</div>
{% endblock %}

{% block inline_field_sets %}
<div class="container">
    <div class="row">
        <div class="col s12 card" id="inlines-card">
            {{ block.super }}
        </div>
    </div>
</div>
{% endblock %}

{% block after_related_objects %}
<script>
    $(document).ready(function() {
      $('input[type=checkbox]').each(function() {
        if (!$(this).parent().is('label')) {
            $(this).wrap('<label></label')
            var label = $("label[for='" + $(this).attr('id') + "']")
            if (label) {
                $(this).after('<span class="checkbox-span">' + label.text() + '</span>')
            }else {
                $(this).after('<span class="checkbox-span"></span>')
            }
            $(this).addClass('filled-in')
        }
      })
    })
</script>
{% endblock %}