{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}{% endblock %}

{% block coltype %}{% endblock %}

{% block bodyclass %}{{ block.super }}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main" class="container">

{% if app_list %}
    <div class="row">
        {% for app in app_list %}
            <div class="col s12 m6">
                <div class="card small">
                    <div class="card-content">
                        <span class="card-title"><a href="{{ app.app_url }}">{{ app.name }}</a></span>
                        <p>{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}</p>
                    </div>
                    <div class="card-action">
                        {% for model in app.models %}
                            {% if model.admin_url %}
                                <a class="blue-text" href="{{ model.admin_url }}">{{ model.name }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class="row">
            {% endif %}
        {% endfor %}
    </div>
{% else %}
    <p>{% trans "You don't have permission to view or edit anything." %}</p>
{% endif %}
</div>
{% endblock %}

{% block sidebar %}{{ block.super }}{% endblock %}
