{% extends 'registration/password_change_form.html' %}
{% load i18n static %}

{% block content_title %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12 card">
            <div class="card-content" id="content-main">
                    <form method="post">{% csrf_token %}
                            <div>
                            {% if form.errors %}
                                <p class="errornote">
                                {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
                                </p>
                            {% endif %}
                            
                            
                            <p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>
                            
                            <!-- <fieldset class="module aligned wide"> -->
                            
                            <div class="form-row">
                                {{ form.old_password.errors }}
                                {{ form.old_password.label_tag }} {{ form.old_password }}
                            </div>
                            
                            <div class="form-row">
                                {{ form.new_password1.errors }}
                                {{ form.new_password1.label_tag }} {{ form.new_password1 }}
                                {% if form.new_password1.help_text %}
                                <div class="help">{{ form.new_password1.help_text|safe }}</div>
                                {% endif %}
                            </div>
                            
                            <div class="form-row">
                            {{ form.new_password2.errors }}
                                {{ form.new_password2.label_tag }} {{ form.new_password2 }}
                                {% if form.new_password2.help_text %}
                                <div class="help">{{ form.new_password2.help_text|safe }}</div>
                                {% endif %}
                            </div>
                            
                            <!-- </fieldset> -->
                            
                            <div class="submit-row">
                                <button class="btn blue darken-4" type="submit" name="action">{% trans 'Change my password' %}
                                </button>                                    
                            </div>
                            
                            </div>
                            </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}